:root {
  --body: #ffffff;
  --text: #363636;
  --text-light: #898989;
  --primary: #2f80ed;
  --border: #ced4da;
  --padding: 10px;
  --line-height: 24px;
}

body {
  background-color: var(--body);
}

.input-group {
  border: 1px solid var(--border);
  border-radius: 8px;
  margin: 10px 0px;
}
.input-group input {
  padding: var(--padding);
  border: none;
  background-color: transparent;
  width: 100%;
  color: var(--text);
  font-size: 16px;
  line-height: var(--line-height);
  outline: none;
}


.input-group:focus-within {
  border-color: var(--primary);
}

.input-group label {
  position: absolute;
  background-color: transparent;
  padding: var(--padding);
  line-height: var(--line-height);
  top: 0;
  left: 0;
  bottom: 0;
  color: var(--text-light);
  /* opacity: 0; */
  cursor: text;
}

.input-group label.not_show_text {
    opacity: 0;
}

.input-group:focus-within label,
.input-group input:not(:placeholder-shown) ~ label,
.input-group label.shown_field_title {
  padding: 0px 8px;
  background-color: var(--body);
  top: -12px;
  left: 16px;
  bottom: auto;
  opacity: 1;
  color: var(--primary);
}

.input-group label.field_title_color {
  color: var(--text);
}
