/* Refactoring Login Page Footer Social Icons.... */

/* .login-footer {
    position: fixed;
    bottom: 2%;
    left: 45%;
} */

.login-footer ul li {
    margin-right: 1rem;
}

.login-footer ul li:first-child {
    padding: 0.5rem 0.5rem;
    border: 1px solid #d40b0c;
    border-radius: 10px;
}

.login-footer ul li a {
    color: #fff;
    text-decoration: none;
}

.login-footer ul li:nth-child(1) a span {
    font-size: 13px;
}

.login-footer ul li:nth-child(2) a, .login-footer ul li:nth-child(3) a {
    font-size: 28px;
}

.login-footer ul li a .fa-phone {
    color: #ef3e42;
    font-size: 18px;
}

.login-footer ul li a .fa-whatsapp, .login-footer ul li a .fa-telegram {
    border-radius: 100%;
}

.login-footer ul li a .fa-whatsapp {
    background: green;
}

.login-footer ul li a .fa-telegram {
    background: #2424eeeb;
}

/* Refactoring Login Page Footer Social Icons.... */