/* Common CSS Styles For Login Pages */

.h-88vh {
    height: 88vh;
}

.bg_photo {
    background-image: url(../../assets/img/pro-insurance.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.color-#fff{
    color: #fff;
}

.opacity-0 {
    opacity: 0;
}

.w-80 {
    width: 90%;
}

.ml-10 {
    margin-left: 5%;
}

.td-none {
    text-decoration: none!important;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgba(2, 24, 45, 255) inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill
{
 -webkit-text-fill-color: #ffffff !important;
}

/* Common CSS Styles For Login Pages */

/* Login Page Styles */

.login_box_style {
    width: 70%!important;
    margin-top: 15%;
}

.forget_password p {
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-style: italic;
}

.login_btn {
    width: 55%;
    background-color: #D40B0C;
    border: none;
    padding: 0.6rem 3em;
    color: #fff;
    border-radius: 60px;
    text-align: center;
    outline: none!important;
    cursor: pointer;
}


/* Login Page Styles */


/* Upgrade of Custom Inputs Styles */

.autoComplete_border input {
    border-radius: 7px;
}

.input-group:focus-within label,
.input-group input:not(:placeholder-shown) ~ label,
.input-group label.shown_field_title  {
    background-color: rgba(2, 24, 45, 255);
}

.input-group:focus-within label,
.input-group input:not(:placeholder-shown) ~ label {
    color: #2f80ed!important;
}

.custom_login_input input, .custom_login_input label {
    color: #e4e4e4!important;
    transition: 0.3s ease;
}

.custom_label:focus-within label,
.custom_label input:not(:placeholder-shown) ~ label,
.custom_label label.shown_field_title {
    background-color: #ffffff!important;
}

/* Upgrade of Custom Inputs Styles */

/* Login Page Footer */

.social_icon {
    font-size: 40px!important;
    margin-right: 15px;
    cursor: pointer;
}

.social_icon .fa-whatsapp {
    color: #4a8a4a;
}

.social_icon .fa-telegram, .social_icon .fa-phone {
    font-size: 47px!important;
}

.social_icon .fa-telegram {
    color: #d0d0d0;
}

.social_icon .fa-phone {
    color: #D40B0C;
}

/* Login Page Footer */


/* Login Page Responsive Screen */
@media only screen and (min-width: 200px) {
    .login_box_style {
        width: 95%!important;
    }
    .bg_photo {
        background-size: cover!important;
        margin-top: 10%!important;
    }
}

@media only screen and (min-width: 767px) {
    .social_icon {
        font-size: 83px!important;
        margin-right: 20px!important;
    }
    .social_icon .fa-telegram, .social_icon .fa-phone {
        font-size: 80px!important;
    }
    .bg_photo {
        background-size: contain!important;
        margin-top: 0!important;
    }
}

@media only screen and (min-width: 1024px) {
    .login_box_style {
        width: 75%!important;
    }
}

@media only screen and (min-width: 1030px) {
    .login_box_style {
        width: 70%!important;
    }
    .social_icon {
        font-size: 40px!important;
        margin-right: 15px!important;
    }
    .social_icon .fa-telegram, .social_icon .fa-phone {
        font-size: 37px!important;
    }
}
/* Login Page Responsive Screen */


